<%= link_to 'Home' , root_path %>

<div class="jumbotron center">
<h1>I am Bhakti Jivani</h1>
<p>This is My Task</p>




<%= link_to "Login As Users", new_user_session_path, class: 'btn btn-primary' %>
<%= link_to "Login As Trainers", new_user_session_path, class: 'btn btn-primary' %>
<%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %>
<%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'btn btn-primary' %>



</div>